body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  table, td, tr {
    margin : 200px;
    padding: 20px;
    background-color: rgb(77, 104, 145);
    color : white;
    font-family: verdana;
  }