body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p, label {
    font-family: verdana;
    font-size: 20px;
  }

  table, td, tr {
    background-color: rgb(77, 104, 145);
    color : white;
    font-family: verdana;
    margin : 20px;
    padding : 20px;
  }

  input {
    visibility: hidden;
    color: rgb(77, 104, 145);
    padding : 200px;
    outline: none;
  }

  select {
    background-color : linear-gradient(lightblue, blue);;

  }