body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p, label {
    font-family: verdana;
    font-size: 20px;
  }

  table, tr {
    background-color: rgb(77, 104, 145);
    color : white;
    font-family: verdana;
    margin : 10px;
    padding : 10px;
    border-radius: 0.2%;
  }

  td {
    background-color: rgb(77, 104, 145);
    color : white;
    font-family: verdana;
    margin : 5px;
    padding : 5px;
    border-radius: 0.2%;
  }

  input {
    background-color: rgb(138, 193, 211);
    font-family: verdana;
    font-size: 20px;
    color : white;
    margin : 10px;
    padding : 10px;
    border-radius: 0.1%;
  }

  .titre-pass {
    visibility: hidden;
    color: rgb(77, 104, 145);
    padding : 2px;
    outline: none;
  }

  select {
    background-color : linear-gradient(lightblue, blue);
    font-family: verdana;
    font-size: 15px;
    color : white;
    margin : 10px;
    padding : 7px;

  }

  .tableauA {
    position: relative;
    display: block;
    padding: 1.14em 2.5em 1em 1.5em;
  }

  .submit {
    background-color: #1c1d22;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .info {
    background-color: rgb(138, 193, 211);
    font-family: verdana;
    font-size: 20px;
    color : white;
    margin : 10px;
    padding : 10px;
    border-radius: 0.1%;

  }

  textarea {
    font-family: verdana;
    font-size: 15px;
    padding : 50px;
  }

  a {
    font-family: verdana;
    font-size: 25px;
    color : orchid;
    text-decoration: none;
    
  }

  a:visited {
    text-decoration: none;
    color : salmon;
  }
 
